._mywrapper{
    height: 100vh;
    width: 100%;
}

._sidebar{
    height: 100vh;
    width: 300px;
    border: 1px solid black;
}

._mainapp{
    height: 100vh;
    width: calc(100% - 300px);
    border: 1px solid red;
}

/* my profile */
._myprofile{
    width: 100%;
    height: 50px;
    border: 1px solid green;
    background-color: #E9EBEB;
}

/* profile img */
._myprofileinfo{
    position: relative;
    padding: 5px;
}

._myprofileinfo:hover{
    background-color: #E9EBEB;
    cursor: pointer;
}

._myprofileinfo>span{
    position: absolute;
    top:25%;
    width: 100px;
    padding-left: 5px;
}

._myphoto{
    width: 40px;
    border-radius: 50%;
}

/* profile img classes end */

/* profile icons */
._myprofileicons{
    display: flex;
    align-items: center;
    color: darkgray;
}

._myprofileicons>span>i{
    cursor: pointer;
}
/* profile classes end */


/* notification */
._mynotifications>span>i{
    padding: 15px 13px 15px 13px;
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
}

._mynotifications{
    padding: 15px 5px;
    background-color: #8EDAFC;
}

._myoption{
    font-size: 0.9rem;
    padding-left: 5px;
}

/* notification classes end*/

/* search bar */

._mysearchbox{
    padding: 5px;
    background-color: #E9EBEB;
}

/* contacts area */
._mycontacts{
    height: calc(100% - 172px);
    overflow-y: auto;
}

/* textarea */
._mytextarea{
    background-color:#E9EBEB;
}

/* message area */
._mymessagearea{
    border: 1px solid blueviolet;
    height: calc(100% - 104px);
    background-image: url(../img/mine.jpg);
}

