
.debug{
    outline: 1px solid red;
}

._mywrapper {
    height: 100vh;
    width: 100%;
}

._sidebar {
    height: 100%;
    width: 300px;
}

._mainapp {
    height: 100vh;
    width: calc(100% - 300px);
    
}

/* my profile */
._myprofile {
    width: 100%;
    height: 58px;
    background-color: #E9EBEB;
}

/* profile img */
._myprofileinfo {
    padding: 5px;
    display: flex;
    justify-content: left
}

._myprofileinfo:hover {
    background-color: #E9EBEB;
    cursor: pointer;
}

._myprofileinfo>span {
    text-align: start;
    padding-left: 5px;
    overflow-x: hidden;
}

._myphoto {
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
}
._myminimessage{
    font-size: 0.6rem;
}
/* profile img classes end */

/* profile icons */
._myprofileicons {
    display: flex;
    align-items: center;
    color: darkgray;
}

._myprofileicons>span>i {
    cursor: pointer;
}

/* profile classes end */


/* notification */
._mynotifications>span>i {
    padding: 15px 13px 15px 13px;
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
}

._mynotifications {
    padding: 15px 5px;
    background-color: #8EDAFC;
}

._myoption {
    font-size: 0.9rem;
    padding-left: 5px;
}

/* notification classes end*/

/* search bar */

._mysearchbox {
    padding: 5px;
    background-color: #E9EBEB;
}

/* contacts area */
._mycontacts {
    height: calc(100% - 180px);
    overflow-y: auto;
}

/* textarea */
._mytextarea {
    background-color: #E9EBEB;
}

/* message area */
._mymessagearea {
    height: calc(100% - 104px);
    background-image: url(../img/mine.jpg);
    padding : 15px 38px 15px 42px;
    overflow-y: auto;
}

/* message */
.mex{
    box-shadow: 2px 2px 5px darkgray;
    border-radius: 9px;
    padding: 2px 4px;
    margin-bottom: 10px;
}

.messages{
    padding-left: 0px;
}
._mysent {
    background-color: greenyellow;
}

._myright{
    justify-content: end;
}

._myrecieved {
    background-color: white;
    justify-content: start;
}

._mydatestring{
    font-size: 0.7rem;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 5px;
}